// Breakpoint
$breakpoint-xsmall:     0;
$breakpoint-small:      376px;
$breakpoint-medium:     426px;
$breakpoint-large:      769px;
$breakpoint-xlarge:     1025px;
$breakpoint-xxlarge:    1440px;
$breakpoint-xxxlarge:   2560px;
// End of Breakpoint
